.items {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  margin-left: 20px;
  margin-right: 30px;
  overflow: hidden;
  max-width: 1000px;
  .search {
    position: relative;
    width: 100%;
    .input {
      width: 100%;
      margin: 0;
      margin-left: -5px;
      padding-left: 10px;
      border-radius: 12px;
      font-family: Gotham;
      font-size: 22px;
      font-weight: 500;
      line-height: 38.4px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .search-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .nodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-content: flex-start;
    height: 90%;
    gap: 0;
    .item-node {

      width: 64px;
      height: 64px;
      background-color: #29210a;
      border-radius: 10px;
      margin: 3px 3px 3px 3px;
      .item-image {
        width: 64px;
        height: 64px;
        image-rendering: pixelated;
      }
    }

    .item-group {
      width: 64px;
      height: 64px;
      background-color: #29210a;
      border-radius: 10px;
      margin: 3px 3px 3px 3px;
      position: relative;

      .item-image {
        width: 64px;
        height: 64px;
        image-rendering: pixelated;
      }
      &.closed::after {
        content: "+";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white;
      }

      &.expanded::after {
        content: "-";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white;
      }

      .item-image {
        width: 64px;
        height: 64px;
        image-rendering: pixelated;
        transition: 0.15s;
        filter: brightness(0.6);
      }

      &:hover {
        cursor: pointer;
        .item-image {
          transition: 0.15s;
          filter: brightness(0.9);
        }
      }
    }
  }
}
