.settings-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  background-color: white;
  height: auto;
  width: 80%;
  max-height: 600px;

  border-radius: 10px;
  padding: 10px;
  .settings-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .default-button {
      height: 30px;
      padding: 4px;
      margin: auto;
    }
  }

  .settings-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .settings-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      transition: 0.25s;
      padding-top: 10px;
      padding: 10px 5px 10px 5px;
      border-radius: 10px;

      .settings-item-image {
        width: 100px;
        height: 50px;
        box-shadow: 0px 4px 12px 0px #0000000a;
        border: 1px solid #f0f1f3;
        border-radius: 10px;
        position: relative;
        background-color: white;
        > img {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .settings-item-title {
        width: 100%;
        margin-left: 20px;
        > p {
          font-weight: bold;
          font-size: 20px;
        }
      }
      .settings-item-arrow {
        width: 100%;

        display: flex;
        justify-content: flex-end;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--primary-light);
        transition: 0.25s;
        .settings-item-arrow {
          stroke: red;
        }
      }
    }
  }

  .keybind-settings {
    .controls {
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 400px;
      .control-action {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0px 4px 12px 0px #0000000a;
        border: 1px solid #f0f1f3;
        border-radius: 10px;
        position: relative;
        background-color: white;
        padding: 10px 5px 10px 5px;
        margin-bottom: 10px;
        &:hover {
          background-color: var(--primary-light);
          cursor: pointer;
        }

        .control-action-name {
          width: 100%;
          font-weight: bold;
        }
        .control-action-buttons {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          .control-action-button {
            box-shadow: 0px 4px 12px 0px #0000000a;
            border: 1px solid #f0f1f3;
            font-weight: bold;
            width: 100px;
            text-align: center;
            border-radius: 10px;
            &:hover {
              background-color: var(--primary);
              color: white;
              cursor: pointer;
            }
          }

          .control-action-key {
          }
          .control-action-revert {
            box-shadow: 0px 4px 12px 0px #0000000a;
            border: 1px solid #f0f1f3;
            font-weight: bold;
            width: 50px;
            height: 50px;
            position: relative;
            > svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
    .keybind-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
