.default-button {
    font-family: Gotham;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px;
    border-radius: 100px;
    padding: 10px;
  &.default {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    transition: .15s;
    &:hover {
        background-color: var(--primary-dark);
        transition: .15s;
      }
  }
  &.invert {
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
  }
  &:hover {
    cursor: pointer;
  }
}
