.item-list {
  display: flex;
  flex-direction: column;

  .item-list-item {
    background-color: white;
    color: black;
    box-shadow: 4px 4px 16px 0px #0000000A;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    border: 1px solid #EAECF0;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    p {
      font-family: Gotham;
      font-size: 24px;
      font-weight: 500;
      line-height: 22.97px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .item-list-check {
      background-color: white;
      border: 1px solid black;
      border-radius: 100px;
      width: 20px;
      height: 20px;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      position: relative;
      padding: 0;
      .item-list-check-center {
        position: absolute;
        margin: 0;
        padding: 0;
        display: none;
        border-radius: 100px;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        width: 10px;
        height: 10px;
      }
    }

    &.active,
    &:hover {
      cursor: pointer;
      background-color: var(--primary);
      color: white;
      .item-list-check {
        background-color: var(--primary);
        border: 1px solid white;
        .item-list-check-center {
          display: block;
        }
      }
    }
  }
}
